include ../common/common.pug

+Page("Cabinet Videos", "photo")
  #header
    #titles
      button#button-up ⬆
      h1#title= name
      h2#preview-title
    input#search(placeholder="Search...")
    #toolbar
      button#button-upload Upload
      button#button-select Select
      button#button-rename Rename
      button#button-delete Delete
  #library
    ul#folders
      each folder in folders
        li.folder(data-name=folder.name)
          a(href=`/photo/${folder.path}`)= folder.name
    ul#thumbnails
      each photo in photos
        li.thumbnail(data-name=photo.name data-height=photo.height data-width=photo.width)
          a(
            href=`/photo/${photo.path}`
            style=`background-image: url("/photo/${encodeURIComponent(photo.path).replace('%2F', '/')}")`
          )
  #preview
    #targets
      #target-left(data-direction=-1)
      #target-right(data-direction=1)
